#canvas-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
#canvas-bg {
    position: absolute;
    opacity: 1;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    fliter:blur(.7px);
    -webkit-filter:blur(.7px);
    z-index: -1;
    transform-style: preserve-3d;
}
.ani1 {
    animation: tempScale 1s linear;
    animation-fill-mode: forwards;
    perspective: 600px;
}
.ani2 {
    animation: tempRotateY 1s linear;
    animation-fill-mode: forwards;
    perspective: 600px;
}
.ani3 {
    animation: tempRotateX 1s linear;
    animation-fill-mode: forwards;
    perspective: 600px;
}
@keyframes tempScale {
    0% {
        transform:   rotate(0deg) scale(1);
    }
    25% {
        transform:   rotate(180deg) scale(0.5);
    }
    50% {
        transform:   rotate(360deg) scale(0);
    }
    75% {
        transform:   rotate(540deg) scale(0.5);
    }
    100% {
        transform:   rotate(720deg) scale(1);
    }
}
@keyframes tempRotateY {
    0% {
        transform: perspective(200px)  rotateY(0);
    }
    25% {
        transform: perspective(200px)  rotateY(90deg);
    }
    50% {
        transform: perspective(200px)   rotateY(180deg);
    }
    75% {
        transform: perspective(200px)   rotateY(270deg);
    }
    100% {
        transform: perspective(200px)  rotateY(360deg);
    }
}
@keyframes tempRotateX {
    0% {
        transform: perspective(200px)  rotateX(0deg);
    }
    25% {
        transform: perspective(200px)  rotateX(90deg);
    }
    50% {
        transform: perspective(200px)  rotateX(180deg);
    }
    75% {
        transform: perspective(200px)  rotateX(270deg);
    }
    100% {
        transform: perspective(200px)  rotateX(360deg);
    }
}
.content {
    width: 100%;
    padding-top: 100px;
}
.user-center {
    z-index: 100;
    width: 980px;
    height: 800px;  
    margin: 0 auto;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
    background: rgba(250,250,250,0.6);
    border-radius: 4px;
}
a.first-user-center-item {
    border-radius: 6px 6px 0 0;
}
a.last-user-center-item {
    border-radius: 0px 0px 6px 6px;
}
.user-center-item {
    width: 140px;
    height: auto;
    float: left;
}
.user-center-pannel {
    width: 790px;
    height: 700px;
    margin-left: 20px;
    float: left;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #e1e2e5;
    box-shadow: 0 2px 4px rgba(0,0,0,.14);
}
.user-center-item a {
    color: #333;
    cursor: pointer;
    font-family: 'microsoft yahei';
    font-size: 16px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    background: #FAFAFA;
    transition: all .3s ease-in-out;
}
.user-center-item a:hover {
    background: #E1E4EA;
}
.user-center-item a.active {
    background: #00A1D7!important;
    color: #fff!important;
}
.temeplate-pannel .title {
    font-family: 'microsoft yahei';
    color: #fff;
    text-shadow: 0 0 3px #fff;
    font-size: 16px;
    margin-bottom: 10px;
}
.temeplate-pannel .ocean .title {
    text-shadow: 0 0 3px #0767C8;
}
.temeplate-pannel .hanabi .title {
    text-shadow: 0 0 3px #800000;
}
.temeplate-pannel .snow .title {
    text-shadow: 0 0 3px #fbfbfb;
}
.temeplate-pannel .halloween .title {
    text-shadow: 0 0 3px #8A2BE2;
}
.temeplate-pannel .ocean-theme,.temeplate-pannel .hanabi-theme {
    text-align: center;
}
.temeplate-pannel .theme {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    width: 160px;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100%;
    border:2px solid #fff;
    border-radius: 4px;
    overflow: hidden;
}
.temeplate-pannel .theme.current {
    transition: all 0.35s linear;
    transform: scale(1.1);
    border: 2px solid #fff;
    box-shadow: 0 0 10px #00A1D7;
}
.temeplate-pannel .theme.current .theme-mask {
    opacity: 0;
}
.temeplate-pannel .theme .theme-mask {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.65);
    transition: opacity .6s ease-in-out;
}
.temeplate-pannel .theme .theme-mask:hover {
    opacity: 0;
}
.temeplate-pannel .theme.current i {
    position: absolute;
    right: 10px;
    font-size: 18px;
    color: #fff;
}
.temeplate-pannel .theme#deepsea1 {
    background-image: url('/i/userCenter-bg/deepsea1.jpg');
}
.temeplate-pannel .theme#deepsea2 {
    background-image: url('/i/userCenter-bg/deepsea2.jpg');
}
.temeplate-pannel .theme#deepsea3 {
    background-image: url('/i/userCenter-bg/deepsea3.jpg');
}
.temeplate-pannel .theme#deepsea4 {
    background-image: url('/i/userCenter-bg/deepsea4.jpg');
}
.temeplate-pannel .theme#hanabi1 {
    background-image: url('/i/userCenter-bg/hanabi1.jpg');
}
.temeplate-pannel .theme#hanabi2 {
    background-image: url('/i/userCenter-bg/hanabi2.jpg');
}
.temeplate-pannel .theme#hanabi3 {
    background-image: url('/i/userCenter-bg/hanabi3.jpg');
}
.temeplate-pannel .theme#hanabi4 {
    background-image: url('/i/userCenter-bg/hanabi4.jpg');
}
.temeplate-pannel .theme#snow1 {
    background-image: url('/i/userCenter-bg/snow1.jpg');
}
.temeplate-pannel .theme#snow2 {
    background-image: url('/i/userCenter-bg/snow2.jpg');
}
.temeplate-pannel .theme#snow3 {
    background-image: url('/i/userCenter-bg/snow3.jpg');
}
.temeplate-pannel .theme#snow4 {
    background-image: url('/i/userCenter-bg/snow4.jpg');
}
.temeplate-pannel .theme#halloween1 {
    background-image: url('/i/userCenter-bg/halloween1.jpg');
}
.temeplate-pannel .theme#halloween2 {
    background-image: url('/i/userCenter-bg/halloween2.jpg');
}
.temeplate-pannel .theme#halloween3 {
    background-image: url('/i/userCenter-bg/halloween3.jpg');
}
.temeplate-pannel .theme#halloween4 {
    background-image: url('/i/userCenter-bg/halloween4.jpg');
}
#canvas4 {
    width: 100%;
    height: 100%;
}
