
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1472092234'); /* IE9*/
  src: url('iconfont.eot?t=1472092234#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1472092234') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1472092234') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1472092234#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-appreciatefill:before { content: "\e606"; }
.icon-zhaopiantouxiang:before { content: "\e614"; }
.icon-markfill:before { content: "\e608"; }
.icon-mark:before { content: "\e60a"; }
.icon-battery0:before { content: "\e600"; }
.icon-battery1:before { content: "\e601"; }
.icon-battery4:before { content: "\e602"; }
.icon-locationarrow:before { content: "\e603"; }
.icon-wifi:before { content: "\e604"; }
.icon-venusmars:before { content: "\e605"; }
.icon-television:before { content: "\e607"; }
.icon-appreciatelight:before { content: "\e611"; }
.icon-search:before { content: "\e60b"; }
.icon-setup:before { content: "\e60c"; }
.icon-mailbox:before { content: "\e60d"; }
.icon-name:before { content: "\e609"; }
.icon-password:before { content: "\e60e"; }
.icon-warn:before { content: "\e60f"; }
.icon-pass:before { content: "\e610"; }
.icon-star-hover:before { content: "\e612"; }
.icon-star:before { content: "\e613"; }
