head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        title 黑大米粥首页
        meta(name="viewport" content="initial-scale=1, maximum-scale=1")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")

        link(rel="icon" href="/Moe.ico" type="image/x-icon" id="favicon")
        link(rel="stylesheet" href="/default/base.css")
        link(rel="stylesheet" href="/default/iconfont/iconfont.css")
        link(rel="stylesheet" href="/c/base.css")
        link(rel="stylesheet" href="/c/index.css")
        link(rel="stylesheet" href="/c/popup.css")
        
        script(src='../lib/jquery-2.2.3.min.js')        
        script(src='../j/index.js')
        script(src='../lib/Util.js')
        