div.temeplate-pannel
    div.ocean
        p.title 海洋主题
        div.ocean-theme
            div.theme#deepsea1(data-theme='deepsea')
                a.theme-mask
            div.theme#deepsea2(data-theme='deepsea')
                a.theme-mask
            div.theme#deepsea3(data-theme='deepsea')
                a.theme-mask
            div.theme#deepsea4(data-theme='deepsea')
                a.theme-mask
    div.hanabi
        p.title 花火主题
        div.hanabi-theme
            div.theme#hanabi1(data-theme='hanabi')
                a.theme-mask
            div.theme#hanabi2(data-theme='hanabi')
                a.theme-mask
            div.theme#hanabi3(data-theme='hanabi')
                a.theme-mask
            div.theme#hanabi4(data-theme='hanabi')
                a.theme-mask
    div.snow
        p.title 雪花主题
        div.hanabi-theme
            div.theme#snow1(data-theme='snow')
                a.theme-mask
            div.theme#snow2(data-theme='snow')
                a.theme-mask
            div.theme#snow3(data-theme='snow')
                a.theme-mask
            div.theme#snow4(data-theme='snow')
                a.theme-mask
    div.halloween
        p.title 万圣主题
        div.hanabi-theme
            div.theme#halloween1(data-theme='halloween')
                a.theme-mask
            div.theme#halloween2(data-theme='halloween')
                a.theme-mask
            div.theme#halloween3(data-theme='halloween')
                a.theme-mask
            div.theme#halloween4(data-theme='halloween')
                a.theme-mask
    button.save 保存主题